[submodule "lib/CMSIS-DSP"]
	path = third_party/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "lib/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/littlefs"]
	path = third_party/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "lib/CMSIS_5"]
	path = third_party/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/stm32f4xx_hal_driver"]
	path = third_party/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "lib/cmsis_device_f4"]
	path = third_party/cmsis_device_stm32f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
